* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: white;	
}

#main-div {
	width: 1024px;
	height: 768px;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -384px;
}

#top {
}

#header {
	width:1024px;
	height:60px;
	background:url('header.png');
	border-bottom:1px solid #fff;
}

#middle {
	display: flex;
}

#sidebar {
	flex: 0 0 95px;
	position: relative;
	height: 518px;
    background-color: #fff;
}

#map-container {
	flex: 0 0 929px;
}

#map {
	width: 929px;
	height: 517px;
}

#map-down-panel {
	position: relative;
	background: #5797a0;
	width: 929px;
	height: 25px;
	line-height: 25px;
	margin-top: -24px;
	font-family: Arial sans-serif;
	font-size: 14px;
}

#play-btn {
	margin: -1px 25px 0 25px;
	vertical-align: middle;
}

#date-text {
	color: white;
}

#bottom {
	width: 1024px;
	height: 190px;
	background:url('timeline.png');
}

#date-slider {
	width: 1014px;
	margin-left: 8px;
	margin-top: 24px;
}

.info-window-eye {
	float: right;
	margin-right: 25px;
	margin-top: -20px;
	margin-bottom: 4px;
	cursor: pointer;
}

.info-window-bookmark {
	float: right;
	margin-top: -20px;
	margin-bottom: 4px;
	cursor: pointer;
}

.info-window-content {
	position: relative;
}

.info-window-left {
	display: inline-block;
	position: absolute;
	left:  20px;
	top: 50%;
}

.info-window-right {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
}

.info-window-image {
	width: 380px;
	display: inline-block;
	margin-left: 20px;
}

.info-window-video {
	width: 300px;
	margin-left: 20px;
}

.info-window-audio {
	width: 300px;
	margin-left: 20px;
}

.info-window-text {
	display: inline-block;
	margin-left: 20px;
	color: #333;
	text-align: left;
	line-height: 18px;
	margin-top: 10px;
}

.info-window-related {
	margin-top: 20px;
	margin-left: 20px;
	color: #333;
	cursor: pointer;
}

.sidebar__item {
	width:95px;
	height:61px;
	background-color:#dedbdb;
	z-index:10;
	transition: all 0.4s ease;
	margin-bottom:4px;
	position:absolute;
	cursor:pointer;
}

.sidebar__item.ghetto:hover {
	background-color:#cdab37;
}

.sidebar__item.camp:hover {
	background-color:#b2ad65;
}

.sidebar__item.testimony-written:hover {
	background-color:#35b18a;
}

.sidebar__item.testimony-video:hover {
	background-color:#35b18a;
}

.sidebar__item.testimony-audio:hover {
	background-color:#35b18a;
}

.sidebar__item.resistance:hover {
	background-color:#db975a;
}

.sidebar__item.righteous:hover {
	background-color:#6c9b98;
}

.sidebar__item.allied:hover {
	background-color:#dd5e49;
}

.sidebar__item__icon {
    background: url('sprite-sidebar_icons.png');
    width: 34px;
    height: 38px;
    display: inline-block;
	margin-top:10px;
	margin-left:28px;
	background-position-y: -54px;
}

.sidebar__item__checkbox {
	position:absolute;
	left:0;
	top:0;
	display:none;
}

.sidebar__item__checkbox:checked + .sidebar__item__icon {
	background-position-y: -154px;
}

.sidebar__item:hover .sidebar__item__checkbox:checked + .sidebar__item__icon ,
.sidebar__item:hover .sidebar__item__icon {
	 background-position-y: -104px;
}

.sidebar__item:hover .sidebar__item__text {
	display:inline-block;
}

.sidebar__item__text {
	display: none;
	position:absolute;
    vertical-align: top;
    margin-top: 18px;
    font-size: 20px;
    font-family: Arial sans-serif;
    margin-left: 12px;
	padding-right:20px;
}

.sidebar__item__text.two-lines {
	margin-top:8px;
}

.sidebar__item.allied .sidebar__item__text {
	padding-right:48px;
}

.sidebar__item.ghetto {
	top:0;
}

.sidebar__item.ghetto .sidebar__item__icon {
	background-position-x: -8px;
}

.sidebar__item.camp {
	top:65px;
}

.sidebar__item.camp .sidebar__item__icon {
	background-position-x: -56px;
    width: 38px;
}

.sidebar__item.testimony-written {
	top:130px;
}

.sidebar__item.testimony-written .sidebar__item__icon {
    background-position-x: -107px;
    width: 35px;
}

.sidebar__item.testimony-video {
	top:195px;
}

.sidebar__item.testimony-video .sidebar__item__icon {
	background-position-x: -160px;
    width: 30px;
}

.sidebar__item.testimony-audio {
	top:260px;
}

.sidebar__item.testimony-audio .sidebar__item__icon {
	background-position-x: -209px;
    width: 34px;
}

.sidebar__item.resistance {
	top:325px;
}

.sidebar__item.resistance .sidebar__item__icon {
	background-position-x: -258px;
    width: 34px;
}

.sidebar__item.righteous {
	top:390px;
}

.sidebar__item.righteous .sidebar__item__icon {
	background-position-x: -308px;
    width: 34px;
}

.sidebar__item.allied {
	top:455px;
}

.sidebar__item.allied .sidebar__item__icon {
	background-position-x: -358px;
    width: 34px;
}

.sidebar__item:hover {
	width:210px;
}
