* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
	font-family: helvetica, sans-serif;
}

.tic-main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-message {
	display: none;
	font-size: 20px;
	color: #dd5e49;
}

.tic-container {
	flex: 0 0 auto;
	width: 1024px;
	height: 768px;
	position: relative;
}

.tic-header {
	height: 60px;
	background: url('header.png');
	border-bottom: 1px solid #fff;
}

.tic-middle {
	display: flex;
}

.tic-sidebar {
	flex: 0 0 95px;
	position: relative;
	height: 518px;
    background-color: #fff;
}

.tic-sidebar__item {
	width: 95px;
	height: 62px;
	background-color: #DDD;
	z-index: 10;
	transition: all 0.3s ease;
	margin-bottom: 4px;
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.tic-sidebar__item.ghetto:hover {
	background-color: #cdab37;
}

.tic-sidebar__item.camp:hover {
	background-color: #b2ad65;
}

.tic-sidebar__item.testimony-written:hover {
	background-color: #35b18a;
}

.tic-sidebar__item.testimony-video:hover {
	background-color: #35b18a;
}

.tic-sidebar__item.testimony-audio:hover {
	background-color: #35b18a;
}

.tic-sidebar__item.resistance:hover {
	background-color: #db975a;
}

.tic-sidebar__item.righteous:hover {
	background-color: #6c9b98;
}

.tic-sidebar__item.allied:hover {
	background-color: #dd5e49;
}

.tic-sidebar__item__checkbox {
	display: none;
}

.tic-sidebar__item__icon {
	display: inline-block;
	background: url('sprite-sidebar_icons.png');
    width: 34px;
    height: 38px;
	margin-left: 28px;
	background-position-y: -154px;
}

.tic-sidebar__item__icon--disabled {
	background-position-y: -54px;
}

.tic-sidebar__item:hover .tic-sidebar__item__icon {
	 background-position-y: -104px;
}

.tic-sidebar__item:hover .tic-sidebar__item__text {
	display: inline-block;
}

.tic-sidebar__item__text {
	display: none;
	position: absolute;
    font-size: 20px;
    margin-left: 12px;
	padding-right: 20px;
	margin-top: 20px;
}

.tic-sidebar__item__text.two-lines {
	margin-top: 8px;
}

.tic-sidebar__item.allied .tic-sidebar__item__text {
	padding-right: 48px;
}

.tic-sidebar__item.ghetto {
	top: 0;
}

.tic-sidebar__item.ghetto .tic-sidebar__item__icon {
	background-position-x: -8px;
}

.tic-sidebar__item.camp {
	top: 65px;
}

.tic-sidebar__item.camp .tic-sidebar__item__icon {
	background-position-x: -56px;
    width: 38px;
}

.tic-sidebar__item.testimony-written {
	top: 130px;
}

.tic-sidebar__item.testimony-written .tic-sidebar__item__icon {
    background-position-x: -107px;
    width: 35px;
}

.tic-sidebar__item.testimony-video {
	top: 195px;
}

.tic-sidebar__item.testimony-video .tic-sidebar__item__icon {
	background-position-x: -160px;
    width: 30px;
}

.tic-sidebar__item.testimony-audio {
	top: 260px;
}

.tic-sidebar__item.testimony-audio .tic-sidebar__item__icon {
	background-position-x: -209px;
    width: 34px;
}

.tic-sidebar__item.resistance {
	top: 325px;
}

.tic-sidebar__item.resistance .tic-sidebar__item__icon {
	background-position-x: -258px;
    width: 34px;
}

.tic-sidebar__item.righteous {
	top: 390px;
}

.tic-sidebar__item.righteous .tic-sidebar__item__icon {
	background-position-x: -308px;
    width: 34px;
}

.tic-sidebar__item.allied {
	top: 455px;
}

.tic-sidebar__item.allied .tic-sidebar__item__icon {
	background-position-x: -358px;
    width: 34px;
}

.tic-sidebar__item:hover {
	width: 210px;
}

.tic-map {
	position: relative;
	flex: 0 0 929px;
	background-color: #FFF;
}

@keyframes tic-colored-map-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.tic-colored-map {
	position: absolute;
	left: 0;
	top: 0;
	width: 929px;
	height: 493px;
    background: url('colored-map.png');
	animation: tic-colored-map-animation 1.5s linear;
}

.tic-map-date {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 1;
	color: #dd5e49;
	font-size: 20px;
	text-transform: uppercase;
}

.google-map {
	width: 929px;
	height: 517px;
	animation: google-map-animation 2s linear;
}

.info-window-eye {
	float: right;
	margin-right: 25px;
	margin-top: -20px;
	margin-bottom: 4px;
	cursor: pointer;
}

.info-window-bookmark {
	float: right;
	margin-top: -20px;
	margin-bottom: 4px;
	cursor: pointer;
}

.info-window-content {
	position: relative;
}

.info-window-left {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 50%;
}

.info-window-right {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
}

.info-window-image {
	width: 380px;
	display: inline-block;
	margin-left: 20px;
}

.info-window-video {
	width: 300px;
	margin-left: 20px;
}

.info-window-audio {
	width: 300px;
	margin-left: 20px;
}

.info-window-text {
	display: inline-block;
	margin-left: 20px;
	color: #333;
	text-align: left;
	line-height: 18px;
	margin-top: 10px;
}

.info-window-related {
	margin-top: 20px;
	margin-left: 20px;
	color: #333;
	cursor: pointer;
}

.tic-map__bottom-panel {
	position: relative;
	background: #5797a0;
	height: 25px;
	line-height: 25px;
	margin-top: -24px;
	font-size: 15px;
	width: 929px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tic-map__bottom-panel__play-btn {
	position: absolute;
	left: 20px;
	top: 3px;
	vertical-align: middle;
}

.tic-map__bottom-panel__text {
	margin-left: 55px;
	color: white;
}

.tic-bottom {
	width: 1024px;
	height: 190px;
	background: url('timeline.png');
}

.tic-date-slider {
	width: 1014px;
	margin-left: 8px;
	margin-top: 32px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 1014px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 1014px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #dd5e49;
	margin-top: -5px;
	cursor: pointer;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}
input[type=range]::-moz-range-track {
	width: 1014px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #dd5e49;
	cursor: pointer;
}
input[type=range]:-moz-focusring{
	outline: 1px solid white;
	outline-offset: -1px;
}
input[type=range]::-ms-track {
	width: 1014px;
	height: 5px;
	background: transparent;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}
input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #dd5e49;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #888;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}
